<div ng-controller="EntryController">
    <h1>Venues</h1>

    <p>{{ tagline }}</p>
    <input class="post" id="name" type="text" name = "name"value="Name" ng-model="search" placeholder='filter'/>
    <input class="post" id="location" type="text" name = "location" value="Location"/>
    <input class="post" id="rating" type="text" name = "rating" value="Rating"/>
    <br>
    <br>
    <form name="f2" ng-submit="addEntry()"> 
      <input class="post-button" id="edit" type="submit" value="Add New Venue!"/> 
    </form>
    <br>
    <br>
    <table>
      <thead> 
      <tr>
        <th> List of Venues </th>
      </tr>
    </thead>
    <tbody>
       <tr ng-repeat="entry in data.entries | filter:search"> 
           <td>
               <form name="f2" ng-submit="updateEntry()">
                <input class="post-button" id="edit" type="submit" name="edit" value="Edit" />
                <input class="post-button" id="delete" type="submit" name="delete" value="X"/>
               </form>
           </td>
            <td class="attributes">
               {{entry.name}} 
           </td>
           <td class="attributes">
               {{entry.location}} 
           </td>
           <td class="attributes">
              {{entry.rating}}
            </td>
      </tr>
   </tbody>
    </table>
</div>