<div ng-controller="EntryController">
    <h1>List of Restaurants</h1>

    <p class="description">{{ tagline }}</p>
    <br>
    <br>
    <input class="post center" id="name" type="text" name = "name" value="Name" ng-model="search" placeholder='name'/>
    <input class="post" id="location" type="text" name = "location" value="Location" placeholder='location'/>
    <input class="post" id="rating" type="text" name = "rating" value="Rating" placeholder='rating'/>
    <br>
    <br>
    <form class="addButton" name="f2" ng-submit="addEntry()"> 
      <input class="post-button" id="edit" type="submit" value="Add New Venue!"/> 
    </form>
    <br>
    <br>
    <div> 
      <div ng-repeat="entry in data.entries | filter:search">
        <form ng-model='inputs' ng-submit="deleteEntry(entry._id)">
          <input class="saveButton" type="submit" value="remove"/>
          <span editable-text="entry._id"></span>
          <span editable-text="entry.name" on-change="validate(value, entry._id, entry.location, entry.rating)"></span>
          <span editable-text="entry.location" on-change="validate(value)"></span>
          <span editable-text="entry.rating" on-change="validate(value)"></span>
        </form>
      </div>
    </div>


<!--

    <table>
      <thead> 
      <tr>
        <th> List of Venues </th>
      </tr>
    </thead>
    <tbody>
       <tr ng-repeat="entry in data.entries | filter:search"> 
           <td>
               <form name="f2">
                <input class="post-button" id="edit" type="submit" name="edit" value="Save" />
                <input class="post-button" id="delete" type="submit" name="delete" value="X"/>
               </form>
           </td>
            <td class="attributes">
               <input class="attr" type="text" value="{{entry.name}}" name="currentName"/>
           </td>
           <td class="attributes">
               <input class="attr" type="text" value="{{entry.location}}" name="currentLocation"/>
           </td>
           <td class="attributes">
               <input class="attr" type="text" value="{{entry.rating}}" name="currentRating"/>
            </td>
      </tr>
   </tbody>
    </table>

  -->
</div>